

.section-5{
    font-family: sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    color: black;
    margin: 50px;
    

}

.section-5 p{
    color: grey;
}

.section-5 h4{

    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}

